.banner {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
                url('/img/Banner.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 600px;

    display: flex;
    align-items: center;
}

.banner-content {
    max-width: 450px;
    margin-left: 30px; /* aproxima da esquerda */
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}

.banner p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
}

.banner .btn {
    background-color: #d4af37; 
    color: black;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.banner .btn:hover {
    background-color: #b8860b;
    border-color: #8b7500;
}